

$color-black:#222;
$color-white:#fff;
$color-blue-ligth:#E6F5FB;
$color-purple-ligth:#E7DCF4;
$color-blue:#C4DDE7;
$color-purple:#D0BAEA;
$simple-shadow: 0 3 3 rgba(0, 0, 0, 0.253);

$linear-gradient:linear-gradient(43deg, rgba(208,186,234,1) 0%, rgba(196,221,231,1) 100%);
$background-gradient:rgb(208,186,234);