@import "../../../sass/variables";

.container_login {
   justify-items: center;
   width: 80%;
   padding: 0 10%;
   height: 100vh;
   display: grid;
   background-color: $color-black;
   grid-template-rows: 30% 50%;
   > h1 {
      font-size: 2.5rem;
      height:2.7rem;
      font-weight: 700;
      background: $linear-gradient;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-align: center;
      align-self: center;
      text-shadow: $simple-shadow;
   }
   > p {
      color: $color-white;
   }
   .link{
      color:white;
      margin:1rem 0;
   }

   .container_social {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 2.5rem;
      .item_social {
         background: $linear-gradient;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 999px;
         width: 2.5rem;
         height: 2.5rem;
         text-decoration: none;
         color: 222px;
      }
   }
}
